.bg {
  width: 100vw;
  height: 78.2vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  will-change: opacity;
}

.carousel {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 750px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-bottom: 6px solid black;
  flex-direction: column;
}

.splash1 {
  background-image: url(./unsplach.jpg);
}

.splash2 {
  background-image: url(./unsplash-2.jpg);
}

.splash3 {
  background-image: url(./unsplash-3.jpg);
}

.overlay {
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background: #000;
  position: absolute;
}
