body {
  overflow-x: hidden;
}

.hero {
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 79vh;
}

.hero-inner {
  margin: 6px auto 0 auto;
  width: 800px;
  height: 600px;
}

.caro {
  width: 70%;
  margin-left: 150px;
  margin-top: 35px;
}

main {
  margin-top: 390px;
}

.carousel .thumbs-wrapper {
  margin-left: 150px !important;
}
